

<style>
table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}
</style>


<h4> Scoreboard: </h4>

<tr>
	<td> Username     </td>
	<td>   Wins   </td>
	<td>   Correct guesses    </td>
	<td>   Wrong guesses   </td>
</tr>


 <%#loop do %>
    <%= div_for(@lobby_users) do |f| %>
    <tr align="center">
    	<%# f.score = Score.new %>
    	 <td>  <%=  f.username%></td>
         <td> <%= f.score.wins %></td>
         <td> <%= f.score.correctGuess %></td>
         <td> <%= f.score.incorrectGuess %></td>

     </tr>
    <% end %> 	

<%#end%>

