<head>
  <script type="text/javascript">

    //var question_bank = ["What is your name?", "What do you eat?", "What's the weather like?", "Which toothpaste do you use?"]
    question_bank = ["What is your name?"]
    the_question = question_bank[Math.floor(Math.random() * question_bank.length)];


    function hideRequest() {
      var div = document.getElementById("response");
      div.style.visibility = 'hidden';
    }

    function hideButtons() {
      var div = document.getElementById("responses_container");
      div.style.visibility = 'hidden';
    }

    function showWaiting() {
      var div = document.getElementById("waiting_for_responses");
      div.style.visibility = 'visible';
    }

    function showChoices() {
      var div = document.getElementById("waiting_for_choices");
      div.style.visibility = 'visible';
    }
  </script>
</head>

<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand">Impersonation Game</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
			    <ul class="nav navbar-nav">
			        <li id="Home"><a href="/mainpage/mainpage">Home</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li id="Logout"><%= link_to("Logout",access_logout_path) %></li>
			    </ul>
		    </div>
	  	</div>
	</nav>


<div class="vertical-center">
	<div id="waitingForPlayers" class="jumbotron jumbotron-fluid">
		<div class="container">
			<h2 class="display-3 text-center">Waiting for more players to join <%= @lobby.title %></h2>
			<p class="lead text-center"> <%= @lobby.spotsLeft %> / 4 players</p>
		</div>
	</div>







	<div id="waitingForInput" class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="form-group">
			<!-- above does not render  -->
      <h2 id="question_header" class="question_header display-3 text-center"></h2>
				<div id="response" aria-describedby="userResponse">
          <h2 class="display-3 text-center">Please enter a response</h2>





					<!-- Response form -->
					<%= render partial: '/responses/response_form', locals: {response: @response, lobby: @lobby}%>



				</div>
        <div id="waiting_for_responses" style="visibility:hidden;">
          <h2 class="display-3 text-center">Waiting for player responses...</h2>
        </div>


        <div id = "responses_container">
          <button class="response_button" onclick="clickWrong(); hideButtons(); showChoices();">
    				<div id="response_box_1_<%= @lobby.id %>" class="responseBox">
    				</div>
          </button>
  				<br>
          <button class="response_button" onclick="clickWrong(); hideButtons(); showChoices();">
    				<div id="response_box_2_<%= @lobby.id %>" class="responseBox">
    				</div>
          </button>
  				<br>
          <button class="response_button" onclick="clickWrong(); hideButtons(); showChoices();">
    				<div id="response_box_3_<%= @lobby.id %>" class="responseBox">
    				</div>
          </button>
  				<br>
          <button class="response_button" onclick="clickWrong(); hideButtons(); showChoices();">
    				<div id="response_box_4_<%= @lobby.id %>" class="responseBox">
    				</div>
          </button>
  				<br>
          <button class="response_button" onclick="clickRight(); hideButtons(); showChoices();">
            <div id="response_box_bot_<%= @lobby.id %>" class="responseBox">
    				</div>
          </button>
  				<br>
        </div>

        <div id="waiting_for_choices" style="visibility:hidden;">
          <h2 class="display-3 text-center">Waiting for player choices...</h2>
        </div>


        <button id="update_bot_button" onclick="sendBotResponse(the_question);">Update bot</button>

			</div>

      <div id = "scoreBox">
        <table id = "tableScore_<%= @lobby.id %>">
          <tr>
            <th>Users</th>
            <th>Correct Guesses</th>
            <th>Incorrect Guesses</th>
          </tr>
        </table>
      </div>

      <br>

			<div id="scoreboard" style="visibility:hidden;">
        Sami's Scoreboard
  			<table>
  				<%= render 'lobby_users' , collection: @lobby_users %>
  			</table>
  			<br />
		  </div>
    			<!-- input type="response" class="form-control" id="response" aria-describedby="userResponse"> -->
  	</div>
	</div>
</div>

<%= hidden_field_tag :current_id, params[:id] %>
<%= hidden_field_tag :current_player_count, @lobby.spotsLeft %>

<script>
  function sendBotResponse(qdata) {
    $("#update_bot_button").hide();
    //window.alert(qdata);
    $.ajax({
      url: "/lobby/display_bot_message/" + $('#current_id').val(),
      data: {questionAsked: qdata},
      dataType:'json'
    })
  }

  function clickWrong() {
    $.ajax({
      url: "/lobby/click_wrong_response/" + $('#current_id').val()
    })
  }

  function clickRight() {
    $.ajax({
      url: "/lobby/click_right_response/" + $('#current_id').val()
    })
  }

  function shuffleBoxes() {
    var buttons = $(".response_button");
    for (var i = 0; i < 50; i++) {
      for(var j = 0; j < buttons.length; j++){
          var target = Math.floor(Math.random() * buttons.length -1) + 1;
          var target2 = Math.floor(Math.random() * buttons.length -1) +1;
          buttons.eq(target).insertBefore(buttons.eq(target2));
      }
    }
  }
</script>


<script>
  $(function() {
  var timer;
  var playerCountInLobby = $('#current_player_count').val();

  $(window).on("beforeunload", function(e) {
    decrementPlayerCount();
  })

  $("#Logout").click(function() {
    decrementPlayerCount();
  })

  $("#Home").click(function() {
    decrementPlayerCount();
  })

  $("#waitingForInput").hide(0);
  waitForPlayers();

  function decrementPlayerCount() {
    $.ajax({
      url: "/lobby/decrement_user_count/" + $('#current_id').val()
    })
  }

  function waitForPlayers() {
    if(playerCountInLobby >= 4)
    {
      console.log($('#playerCount').val());
      $("#waitingForPlayers").delay(1000).slideUp(1500);
      $("#waitingForInput").delay(3000).slideToggle(1000);
      $("#responses_container").hide();
    	$("#scoreBox").hide();
      shuffleBoxes();
      document.getElementById("question_header").innerHTML = the_question;
      clearTimeout(timer);
    }
    else
    {
      $.ajax({
      url: "/lobby/update_player_count/" + $('#current_id').val(),
      data: {format: 'json'},
      datatype: "json",
      success: function(data) {
        playerCountInLobby = data.spotsLeft;
      }
      });
      console.log(playerCountInLobby);
      timer = setTimeout(waitForPlayers, 1000);
    }
  }
});
</script>
