<head>
  <script type="text/javascript">
    function hideRequest() {
      var div = document.getElementById("response");
      div.style.visibility = 'hidden';
    }
  </script>
</head>


<div class="vertical-center">
	<div id="waitingForPlayers" class="jumbotron jumbotron-fluid">
		<div class="container">
			<h2 class="display-3 text-center">Waiting for more players to join <%= @lobby.title %></h2>
			<p class="lead text-center"> <%= @lobby.spotsLeft %> / 4 players</p>
		</div>
	</div>







	<div id="waitingForInput" class="jumbotron jumbotron-fluid">
		<div class="container">
			<h2 class="display-3 text-center">Please enter a response</h2>
			<div class="form-group">
			<!-- above does not render  -->
				<div id="response" aria-describedby="userResponse">

					<!-- Successfully submitted responses: -->
					<%= render partial: 'responses/responses', collection: @lobby.responses || "There are no responses"%>

					<!-- Response form -->
					<%= render partial: '/responses/response_form', locals: {response: @response, lobby: @lobby}%>




				</div>

				<div id="response_box_<%= @current_user.username %>" class="responseBox">
				</div>
				<br>
				<div id="response_box_1_<%= @lobby.id %>" class="responseBox">
				</div>
				<br>
				<div id="response_box_2_<%= @lobby.id %>" class="responseBox">
				</div>
				<br>
				<div id="response_box_3_<%= @lobby.id %>" class="responseBox">
				</div>
				<br>
				<div id="response_box_4_<%= @lobby.id %>" class="responseBox">
				</div>
				<br>

			</div>
			<%= [1, 2, 3, 4, 5].inspect %>
			<%= debug(@current_user) %>

					<div id="scoreboard">
			<table>
				<%= render 'lobby_users' , collection: @lobby_users %>
			</table>
			<br />
		</div>
    			<!-- input type="response" class="form-control" id="response" aria-describedby="userResponse"> -->
  			</div>
		</div>






	</div>
</div>

<%= hidden_field_tag :current_id, params[:id] %>

<script>
	$(function() {
		$(window).on("beforeunload", function(e) {
			$.ajax({
				url: "/lobby/decrement_user_count/" + $('#current_id').val()
			})
		})

		$("#waitingForInput").hide(0);
		$("#waitingForPlayers").delay(1000).slideUp(1500);
		$("#waitingForInput").delay(3000).slideToggle(1000);
	});
</script>
