<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand">Impersonation Game</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
			    <ul class="nav navbar-nav">
			        <li><a href="/mainpage/mainpage">Home</a></li>
			        <li><a href="/mainpage/adminmainpage">Admin Page</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li><%= link_to("Logout",access_logout_path) %></li>
			    </ul>
		    </div>
	  	</div>
</nav>

<div class="centerDiv">
<h2 class="centerHeader">Add Lobby</h2>
<%= form_for @lobby, url: lobby_create_path do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <%= f.submit "Create lobby", class: 'btn btn-primary' %>
<% end %>
</div>
