<% provide(:title, 'Create New Account') %>
<h1>Create New Account</h1>

<p id="notice"><%= notice %></p>

<div class="signup">
  <%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Create my account" %>
    


  <% end %>
</div>
