
<div class="notice-header">
  <% provide(:title, 'Create New Account') %>
  <h1>Create New Account</h1>

  <p id="notice"><%= notice %></p>
</div>

<div class="forming-out">
  <%= form_for(@user) do |f| %>
    <br>
    <br>
    <div class="forming-in">
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <br>
    <%= f.submit "Sign Up", :class => "btn btn-primary" %>
    <br><br>
  <% end %>
  <br>
  <%= link_to("Back to Login page", access_login_path) %>
</div>
