<div class="gameLogo"><h1 class="elegantshadow">Impersonation Game</h1></div>

<div class="forming-out">
  <%= form_for(@user) do |f| %>
    <br>
    <br>
    <div class="forming-in">
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "Sign Up", :class => "btn btn-primary" %>
    <br>
  <% end %>
  <%= link_to("Back to Login page", access_login_path) %>

  <div class="notice-header">
    <% provide(:title, 'Create New Account') %>
    <p id="notice"><%= notice %></p>
  </div>
</div>
